
.left{
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
.right{
	margin-left:auto;
	margin-right:auto;
	text-align:right;
}
.center{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

a {
	text-decoration: none;
	color : #FFFFFF;
}
a:link,a:active,a:visited {
	text-decoration: none;
	color : #FFFFFF;
}
a:hover{
	color:#00aaaa
}
.centerdiv {
	position:absolute;
	visibility:hidden;
	float:left;
	left:350;
	width:250;
	height:100px;
	color:#FFFFFF;
	border:2px solid #ffffff;
	background:#d8cfc8;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: #000000; color: #C0D0D8;
	background-image : url(images/background2.gif);
	background-attachment:fixed;
	font-size : 12px;
	font-family:verdana,geneva,arial,helvetica,sans-serif;
}
body,td{
	font-size: smaller;
	font-family:verdana,geneva,arial,helvetica,sans-serif;
}
.bodyline	{
	margin:auto;
	border: 1px #0075B2 solid;
	background-image : url(images/mbg.gif);
	background-attachment:fixed;
}

.genmed { 
	font-size : 11px;
}
.gensmall {
	font-size : 10px;
}
.genmedwhite { 
	font-size : 11px; 
}
.gensmallwhite { 
	font-size : 10px; 
}
.genwhite,.genmedwhite,.gensmallwhite {
	color : #FFFFFF;
}
.genmedred { 
	font-size : 11px; 
}
.gensmallred { 
	font-size : 10px; 
}
.genred,.genmedred,.gensmallred {
	color : #880000;
}
.genmedblue { 
	font-size : 11px; 
}
.gensmallblue { 
	font-size : 10px; 
}
.genblue,.genmedblue,.gensmallblue {
	color : #006699;
}
.genmedblack { 
	font-size : 11px; 
}
.gensmallblack { 
	font-size : 10px; 
}
.genblack,.genmedblack,.gensmallblack {
	color : #000000;
}

.code {
	font-family: Courier, 'Courier New', sans-serif;
	font-size: 11px;
	color: Lime;
	border: #DDDDDD;
	border-style: solid;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px
}
.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #8BC7FF;
	line-height: 125%;
	border: #DDDDDD;
	border-style: solid;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px
}
.dotted {
    border-bottom: 1px dotted #ccc;
}


